{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin Page</h1>

    <a href="{{ path('admin_new') }}" class="btn btn-primary mb-3">Add new car</a>

    <table class="table">
        <!-- Table content here -->
    </table>

    <!-- Pagination here -->
{% endblock %}